<!DOCTYPE html>
<html>
<head>
<title>Bienvenue au DevOps 101</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
body {font-family: "Times New Roman", Georgia, Serif;}
h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display";
  letter-spacing: 5px;
}
</style>
</head>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">
    <a href="#home" class="w3-bar-item w3-button">MoSEF: devops initiation</a>
    <!-- Right-sided navbar links. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a href="#about" class="w3-bar-item w3-button">About me</a>
      <a href="#menu" class="w3-bar-item w3-button">What about you?</a>
      <a href="#contact" class="w3-bar-item w3-button">Vos aspirations</a>
    </div>
  </div>
</div>

<!-- Header -->
<header class="w3-display-container w3-content w3-wide" style="max-width:1600px;min-width:500px" id="home">
  <img class="w3-image" src="{{ url_for('static', filename='background.png') }}" alt="Hamburger Catering" width="1600" height="800">
  <div class="w3-display-bottomleft w3-padding-large w3-opacity">
    <h1 class="w3-xxlarge">DevOps 101</h1>
  </div>
</header>

<!-- Page content -->
<div class="w3-content" style="max-width:1100px">

  <!-- About Section -->
  <div class="w3-row w3-padding-64" id="about">
    <div class="w3-col m6 w3-padding-large w3-hide-small">
     <img src="{{ url_for('static', filename='me.jpg') }}" class="w3-round w3-image w3-opacity-min" alt="Table Setting" width="600" height="750">
    </div>

    <div class="w3-col m6 w3-padding-large">
      <h1 class="w3-center">About me</h1><br>

      <p class="w3-large">Lead data engineer @Sopra Steria</p>
      <p class="w3-large">7 années d'expériences dans la Data, dans 5 industries. Entre autres: Microsoft, SG CIB, Renault Digitale, Orange, KPMG</p>
    </div>
  </div>
  
  <hr>
  
  <!-- Menu Section -->
  <div class="w3-row w3-padding-64" id="menu">
    <div class="w3-col l6 w3-padding-large">
      <h1>What about you?</h1><br>  
    </div>
    <div class="w3-col l6 w3-padding-large">
	  <img src="{{ wordcloud }}" alt="wordcloud">
    </div>
  </div>

  <hr>

  <!-- Contact Section -->
  <div class="w3-container w3-padding-64" id="contact">
    <h1>Vos aspirations</h1><br>
	<div id="chart" class="chart"></div>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
	<script type="text/javascript">
	  var graphs = {{graphJSON | safe}};
	  Plotly.plot('chart',graphs,{});
	</script>
  </div>
  
<!-- End page content -->
</div>

<!-- Footer -->
<footer class="w3-center w3-light-grey w3-padding-32">
  <p>M2 MoSEF, Universite Paris 1</p>
</footer>

</body>
</html>
